export RPC_URL="https://eth-mainnet.g.alchemy.com/v2/YOUR_KEY"
export RPC_URL_SEPOLIA="https://eth-sepolia.g.alchemy.com/v2/YOUR_KEY"
export API_KEY_ETHERSCAN=""
export PRIVATE_KEY=""
export FOUNDRY_PROFILE="default"